
img {
    width : 200px; height :200px; border : 5px solid rgb(0, 49, 101);
 }
 
 button {
    text-align: right; font-family: 'Stencil Std, fantasy';font-size: 60%; color: rgb(201, 24, 24) ;background-color: rgb(245, 255, 48);
     border-radius: 10px; border : 5px solid rgb(161, 210, 229);
 }  
